<div class="table-responsive">
  <h2 class="card-header text-center">UPLOAD FILES</h2>
  <app-employee-header></app-employee-header>
  <div class="form-comtainer">
    <form [formGroup]="uploadCommentForm" (ngSubmit)="submit()" enctype="multipart/form-data">
      <div class="row">
        <div class="col-sm-4 me-auto d-flex pb-2">
          <label for="startDate" class="col-sm-2 col-form-label">Date</label>
          <input id="startDate" class="form-control" name="date" type="date" formControlName="documentDate"
            (change)="checkDate()" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <textarea name="uploadExplanation" class="form-control" type="text" cols="100" rows="5"
            formControlName="comment"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <label class="btn btn-default px-0">
            <input type="file" name="file" id="input-files" class="form-control" (change)="selectFile($event)"
              formControlName="file" multiple />
          </label>
        </div>

        <div class="col-2">
          <button class="btn btn-success btn" [disabled]="!selectedFiles || !uploadCommentForm.valid"
            (click)="upload()">
            Upload
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="currentFile" class="progress my-3">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
      {{ progress }}%
    </div>
  </div>

  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

  <div class="card mt-3">
    <div class="card-header table-responsive">List of Files</div>
    <!-- <ul class="list-group list-group-flush" *ngFor="let file of fileInfo | async; let i=index"> -->
    <!-- <li class="list-group-item"> -->
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col" class="date-column">Date</th>
          <th scope="col">Comment</th>
          <th scope="col" class="document-column">Document</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of fileInfo | async; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{ file.metadata?.documentDate }}</td>
          <td>{{ file.metadata?.comment }}</td>
          <td><a href="{{ file.url }}">{{ file.name }}</a></td>
        </tr>
      </tbody>
    </table>
    <!-- </li> -->
    <!-- </ul> -->
  </div>
</div>
