.table-responsive {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

#input-files {
  width: 600px;
}

.dateControl {
  color: black;
  font-size: 30px;
}

mat-datepicker-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.mat-form-field {
  font-weight: 1000;
}

.files {
  display: flex;
}
.date-column {
  width: 90px;
}
.document-column {
  width: 150px;
}
