/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-wrapper {
  width: 90%;
}

.mat-header-cell {
  color: black;
  font-size: 22px;
  font-weight: bolder;
}

.mat-drawer-content {
  margin: 0px;
}
.mat-form-field-infix{
  display: flex;
}
