<!-- <div class="month name">{{month}} {{year}}</div>

<table class="month">
  <td *ngFor="let item of [].constructor(31); let i = index">
    <div class="day name">{{i+1}}</div>
    <div class="day">{{randomSymbol()}}</div>
  </td>
</table>

<div class="month name">{{month}} {{year}}</div>


<table class="wrapper">

  <thead class="month">
    <tr *ngFor="let item of [].constructor(31); let i = index">
      <th class="day name">{{i+1}}</th>
    </tr>
  </thead>

  <div class="name">1</div>
  <tbody class="month">
    <tr *ngFor="let item of [].constructor(31); let i = index">
      <td class="day">{{randomSymbol()}}</td>
    </tr>
  </tbody>

  <div class="name">2</div>
  <tbody class="month">
    <tr *ngFor="let item of [].constructor(31); let i = index">
      <td class="day">{{randomSymbol()}}</td>
    </tr>
  </tbody>

  <div class="name">3</div>
  <tbody class="month">
    <tr *ngFor="let item of [].constructor(31); let i = index">
      <td class="day">{{randomSymbol()}}</td>
    </tr>
  </tbody>

</table> -->


<div>
  <table class="tg">

    <thead>
      <tr *ngFor="let item of [].constructor(31); let i = index">
        <th>{{i+1}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of [].constructor(31); let i = index">
        <td class="tg-0pky" colspan="31">{{i+1}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr *ngFor="let item of [].constructor(31); let i = index">
        <td class="day">{{randomSymbol()}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr *ngFor="let item of [].constructor(31); let i = index">
        <td class="tg-0lax" colspan="31">{{i+1}}</td>
      </tr>
    </tbody>

    <div>121212</div>

    <tbody>
      <tr *ngFor="let item of [].constructor(31); let i = index">
        <td class="day">{{randomSymbol()}}</td>
      </tr>
    </tbody>

  </table>
</div>
