<h2 mat-dialog-title>Install {{ data.name }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>What is {{ data.name }}?</h3>
  <p>{{ data.name }} is a platform that makes it easy to build applications with the web. {{ data.name }}
    combines declarative templates, dependency injection, end to end tooling, and integrated
    best practices to solve development challenges. {{ data.name }} empowers developers to build
    applications that live on the web, mobile, or the desktop {{ data.color }} </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
