<div class="table-responsive">
  <div class="persData">
    <h2>EDUCATION RECORDS</h2>
    <div class="persData">
      <h3>NAME</h3>
      <h4>DEPARTMENT</h4>
      <h4>POSITION</h4>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark Mark</td>
        <td>Otto Mark Otto</td>
        <td>@msdfdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Mark Otto</td>
        <td>Mark Mark Otto</td>
        <td>@mduoio</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Otto Mark</td>
        <td>Mark Otto Otto</td>
        <td>@mdqweo</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Otto Otto</td>
        <td>Mark Otto Mark</td>
        <td>@mdbnfo</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
