<div class="table-responsive">
  <div class="persData">
    <h2>EDUCATION RECORDS</h2>
    <div class="persData">
      <h3>NAME</h3>
      <h4>DEPARTMENT</h4>
      <h4>POSITION</h4>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">№</th> -->
        <th scope="col">Type</th>
        <th scope="col">Level</th>
        <th scope="col">CenterName</th>
        <th scope="col">Profile</th>
        <th scope="col">Degree</th>
        <th scope="col">DateEnd</th>
        <th scope="col">Diploma #</th>
        <th scope="col">DiplomaDate</th>
        <th scope="col" *ngIf="showModeratorBoard">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeeEducationData; ">
        <!-- <td>{{i+1}}</td> -->
        <td>{{data.educationType}}</td>
        <td>{{data.educationLevel}}</td>
        <td>{{data.educationCenterName}}</td>
        <td>{{data.educationProfile}}</td>
        <td>{{data.educationDegree}}</td>
        <td>{{data.educationDateEnd}}</td>
        <td>{{data.educationDiplomaNumber}}</td>
        <td>{{data.educationDiplomaDate}}</td>
        <td *ngIf="showModeratorBoard">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteData(data._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
