.controls {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: 5px;
  margin-left: 5px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

.btn {
  margin-right: 15px;
  width: 150px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.alert {
  width: 350px;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: larger;
  margin-bottom: 0;
}

.personal-data {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  height: 2em;
  color: black;
  border-bottom-style: groove;
}


.employee-grid {
  margin-top: 5px;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.75fr 1.25fr 0.25fr 0.85fr 1.15fr;
  grid-template-areas:
    "labels labels labels labels labels"
    "label0 label1 . label2 label3"
    "label4 label5 . label6 label7"
    "label8 label9 . label10 label11"
    "label12 label13 . label14 label15"
    "label16 label16 label16 label16 label16"
    "label17 label18 . label19 label20"
    "label21 label22 label22 label23 label24"
    "label25 label25 label25 label25 label25"
    "label26 label27 . label28 label29"
    "label30 label31 label31 label31 label31"
    "label32 label32 label32 label32 label32"
    "label33 label34 . label35 label36"
    "label37 label38 . label39 label40"
    "label41 label41 label41 label41 label41"
    "label42 label43 . label44 label45"
    "label46 label47 . label48 label49";
  gap: 0px;
  height: 100%;
  border-bottom-style: groove;
}

.employee-grid>div {
  display: flex;
  height: 2em;
  color: black;
  font-size: 20px;
  justify-content: left;
  align-items: center;
  padding: 5px;
  // border: black 0.5px solid;
}

div[contenteditable="true"] {
  background-color: rgba(173, 216, 230, 0.4);
  font-size: larger;
}

#item-s {
  grid-area: labels;
  justify-content: center;
}

#item-0 {
  grid-area: label0;
}

#item-1 {
  grid-area: label1;
}

#item-2 {
  grid-area: label2;
}

#item-3 {
  grid-area: label3;
}

#item-4 {
  grid-area: label4;
}

#item-5 {
  grid-area: label5;
}

#item-6 {
  grid-area: label6;
}

#item-7 {
  grid-area: label7;
}

#item-8 {
  grid-area: label8;
}

#item-9 {
  grid-area: label9;
}

#item-10 {
  grid-area: label10;
}

#item-11 {
  grid-area: label11;
}

#item-12 {
  grid-area: label12;
}

#item-13 {
  grid-area: label13;
}

#item-14 {
  grid-area: label14;
}

#item-15 {
  grid-area: label15;
}

#item-16 {
  grid-area: label16;
  justify-content: center;
}

#item-17 {
  grid-area: label17;
}

#item-18 {
  grid-area: label18;
}

#item-19 {
  grid-area: label19;
}

#item-20 {
  grid-area: label20;
}

#item-21 {
  grid-area: label21;
}

#item-22 {
  grid-area: label22;
}

#item-23 {
  grid-area: label23;
}

#item-24 {
  grid-area: label24;
}

#item-25 {
  grid-area: label25;
  justify-content: center;
}

#item-26 {
  grid-area: label26;
}

#item-27 {
  grid-area: label27;
}

#item-28 {
  grid-area: label28;
}

#item-29 {
  grid-area: label29;
}

#item-30 {
  grid-area: label30;
}

#item-31 {
  grid-area: label31;
}

#item-32 {
  grid-area: label32;
  justify-content: center;
}

#item-33 {
  grid-area: label33;
}

#item-34 {
  grid-area: label34;
}

#item-35 {
  grid-area: label35;
}

#item-36 {
  grid-area: label36;
}

#item-37 {
  grid-area: label37;
}

#item-38 {
  grid-area: label38;
}

#item-39 {
  grid-area: label39;
}

#item-40 {
  grid-area: label40;
}

#item-41 {
  grid-area: label41;
  justify-content: center;
}

#item-42 {
  grid-area: label42;
}

#item-43 {
  grid-area: label43;
}

#item-44 {
  grid-area: label44;
}

#item-45 {
  grid-area: label45;
}

#item-46 {
  grid-area: label46;
}

#item-47 {
  grid-area: label47;
}

#item-48 {
  grid-area: label48;
}

#item-49 {
  grid-area: label49;
}
