<div *ngFor="let employee of employeeData">
  <div class="persData"><span>{{employee.lastName}} {{employee.firstName}} {{employee.fatherName}}</span></div>
  <div class="profData">
    <div class="department">DEPARTMENT NAME&nbsp;&nbsp;</div>
    <div class="code">CODE&nbsp;&nbsp;</div>
    <div class="prof">PROF NAME&nbsp;&nbsp;</div>
    <div class="razr">RAZR&nbsp;&nbsp;</div>
  </div>
  <div class="employee-grid">
    <div id="item-s">Common info</div>
    <div id="item-0">Birth Date</div>
    <div id="item-1">{{employee.birthDate}}</div>
    <div id="item-2">Date of employment</div>
    <div id="item-3">{{employee.employmentDate}}</div>
    <div id="item-4">Education</div>
    <div id="item-5">{{employee.education}}</div>
    <div id="item-6">Date of </div>
    <div id="item-7">{{employee.date0}}</div>
    <div id="item-8">Nationality</div>
    <div id="item-9">{{employee.nationality}}</div>
    <div id="item-10">Date of </div>
    <div id="item-11">{{employee.date1}}</div>
    <div id="item-12">Trade union</div>
    <div id="item-13">{{employee.tradeUnionName}}</div>
    <div id="item-14">Sex</div>
    <div id="item-15">{{employee.sex}}</div>
    <div id="item-16">Passport data</div>
    <div id="item-17">Number</div>
    <div id="item-18">{{employee.passportNumber}}</div>
    <div id="item-19">Date start</div>
    <div id="item-20">{{employee.passportDateStart}}</div>
    <div id="item-21">Who made</div>
    <div id="item-22">{{employee.passportMade}}</div>
    <div id="item-23">Personal №</div>
    <div id="item-24">{{employee.personalNumber}}</div>
    <div id="item-25">Adress data</div>
    <div id="item-26">Index</div>
    <div id="item-27">{{employee.addressindex}}</div>
    <div id="item-28">Phone №</div>
    <div id="item-29">{{employee.phoneNumber}}</div>
    <div id="item-30">Adress</div>
    <div id="item-31">{{employee.homeAddress}}</div>
    <div id="item-32">Additional info</div>
    <div id="item-33">SMTH</div>
    <div id="item-34">{{employee.smtn0}}</div>
    <div id="item-35">SMTH</div>
    <div id="item-36">{{employee.smtn1}}</div>
    <div id="item-37">SMTH</div>
    <div id="item-38">{{employee.smtn2}}</div>
    <div id="item-39">SMTH</div>
    <div id="item-40">{{employee.smtn3}}</div>
    <div id="item-41">Dismissal info</div>
    <div id="item-42">Date</div>
    <div id="item-43">{{employee.dismissalDate}}</div>
    <div id="item-44">Document date</div>
    <div id="item-45">{{employee.dismissalDocDate}}</div>
    <div id="item-46">Document №</div>
    <div id="item-47">{{employee.dismissalDocNumer}}</div>
    <div id="item-48">Reason</div>
    <div id="item-49">{{employee.dismissalReason}}</div>
  </div>
</div>
<router-outlet></router-outlet>
