.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #002b5c;
  border-radius: 10px;
}

a {
  color: white;
}

a:focus {
  color: yellow;
}

a:hover {
  color: red
}
