<h2 class="card-header text-center">GROWTH PLAN</h2>
<app-employee-header></app-employee-header>
<div class="card" *ngIf="showModeratorBoard">
  <div class="card-body">
    <form [formGroup]="employeeGrowthPlanForm" (ngSubmit)="createTask()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" formControlName="growthPlanTaskTitle">
        <label for="floatingInput">Task Title</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea"
          name="growthPlanTaskDescription" formControlName="growthPlanTaskDescription" style="height: 100px"></textarea>
        <label for="floatingTextarea">Description</label>
      </div>

      <span class="title">Add Date: </span>
      <p class="card-text">
        <input id="growthPlanTaskAddDate" type="date" formControlName="growthPlanTaskAddDate" class="form-control date">
      </p>
      <span class="title">Planned End Date: </span>
      <p class="card-text">
        <input id="growthPlanTaskPlannedEndDate" type="date" formControlName="growthPlanTaskPlannedEndDate"
          class="form-control date">
      </p>
      <button type="button" class="btn btn-primary" [disabled]="!employeeGrowthPlanForm.valid"
        (click)="createTask()">Add
        task</button>
    </form>
  </div>
</div>

<div class="task" *ngFor="let task of taskList; let i = index">
  <div class="card border-dark mb-3">
    <div class="card-header">
      <h2>{{task.growthPlanTaskTitle}}</h2>
    </div>
    <div class="card-body text-dark py-1 px-3">
      <h3 class="card-title">{{task.growthPlanTaskDescription}}</h3>
      <p class="card-text">Add Date: {{task.growthPlanTaskAddDate}}</p>
      <p class="card-text">End Date: {{task.growthPlanTaskPlannedEndDate}}</p>
      <p class="card-text" *ngIf="task.growthPlanTaskFactEndDate">Finish Date: {{task.growthPlanTaskFactEndDate}}</p>
    </div>
    <div class="col-md-12 text-center" *ngIf="showModeratorBoard">
      <button type="button" class="btn btn-outline-primary m-2" (click)="openPopup(task)" *ngIf="!task.growthPlanTaskFactEndDate">Edit</button>
      <button type="button" class="btn btn-outline-success m-2" (click)="openPopupU(task, 'displayFinish')" *ngIf="!task.growthPlanTaskFactEndDate">Finish</button>
      <button type="button" class="btn btn-outline-danger m-2" (click)="openPopupU(task, 'displayDelete')" *ngIf="!task.growthPlanTaskFactEndDate">Delete</button>
    </div>

    <div class="modal" tabindex="-1" [ngStyle]="{'display':displayFinish}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Finish Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopupU('displayFinish')"></button>
          </div>
          <div class="modal-body">
            <p>You will finish this task by today's date.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopupU('displayFinish')">Close</button>
            <button type="button" class="btn btn-outline-success m-2" (click)="finishTask()">Finish</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" [ngStyle]="{'display':displayDelete}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopupU('displayDelete')"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure want delete this task?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopupU('displayDelete')">Close</button>
            <button type="button" class="btn btn-primary" (click)="deleteTask()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="editEmployeeGrowthPlanForm">
            <div class="form-floating mb-3">
              <textarea class="form-control" id="floatingInput" formControlName="growthPlanTaskTitle"
                style="height: 90px"></textarea>
              <label for="floatingInput">Task Title</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea"
                name="growthPlanTaskDescription" formControlName="growthPlanTaskDescription"
                style="height: 100px"></textarea>
              <label for="floatingTextarea">Description</label>
            </div>
            <span class="title">Add Date: </span>
            <p class="card-text">
              <input id="growthPlanTaskAddDate" type="date" formControlName="growthPlanTaskAddDate"
                class="form-control date">
            </p>
            <span class="title">Planned End Date: </span>
            <p class="card-text">
              <input id="growthPlanTaskPlannedEndDate" type="date" formControlName="growthPlanTaskPlannedEndDate"
                class="form-control date">
            </p>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!editEmployeeGrowthPlanForm.valid"
          (click)="saveTask()">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>
