.card-header {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.date {
  width: 150px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
