<div class="container">
  <mat-card class="example-card" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Mock</mat-card-title>
        <mat-card-subtitle>Mock subtitle</mat-card-subtitle>
        <img mat-card-md-image src="https://upload.wikimedia.org/wikipedia/commons/2/24/Circle-icons-image.svg">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>
