<div class="table-responsive">
  <h2 class="card-header text-center">FAMILY RECORDS</h2>
  <app-employee-header></app-employee-header>
  <div class="add-record">
    <button type="button" *ngIf="showModeratorBoard" class="btn btn-success mb-2 float-end" (click)="openPopup($event)">Add record</button>
  </div>

  <!-- <button mat-raised-button color="primary" (click)="openDialog()">Open dialog</button> -->

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDate</th>
        <th scope="col">DateEnd</th>
        <th scope="col">DateStart</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of employeeFamilyMembersList;" [ngClass]="{ 'selected': member.selected }">
        <td>{{member.familyMemberType}}</td>
        <td>{{member.familyMemberName}}</td>
        <td>{{member.familyMemberBirthDate}}</td>
        <td>{{member.familyMemberDateEnd}}</td>
        <td>{{member.familyMemberDateStart}}</td>
        <td *ngIf="showModeratorBoard" class="actionButtons">
          <button type="button" class="btn btn-outline-success btn-sm me-3" (click)="openPopup(member)">Edit</button>
          <button type="button" class="btn btn-outline-danger btn-sm"
            (click)="deleteEployeeFamilyMember(member._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="editEployeeFamilyMemberForm">
            <span class="title">Type</span>
            <p class="card-text">
              <input class="form-control" id="familyMemberType" formControlName="familyMemberType">
            </p>
            <span class="title">Name</span>
            <p class="card-text">
              <input class="form-control" placeholder="Leave a description here" id="familyMemberName"
                name="familyMemberName" formControlName="familyMemberName">
            </p>
            <span class="title">BirthDate</span>
            <p class="card-text">
              <input id="familyMemberBirthDate" type="date" formControlName="familyMemberBirthDate"
                class="form-control date">
            </p>
            <span class="title">DateEnd</span>
            <p class="card-text">
              <input id="familyMemberDateEnd" type="date" formControlName="familyMemberDateEnd"
                class="form-control date">
            </p>
            <span class="title">DateStart</span>
            <p class="card-text">
              <input id="familyMemberDateStart" type="date" formControlName="familyMemberDateStart"
                class="form-control date">
            </p>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="addRecordButton" type="button" class="btn btn-primary"
          [disabled]="!editEployeeFamilyMemberForm.valid" (click)="createEployeeFamilyMember()">Add record</button>
        <button *ngIf="!addRecordButton" type="button" class="btn btn-primary"
          [disabled]="!editEployeeFamilyMemberForm.valid" (click)="updateEployeeFamilyMember()">Save
          changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<!-- (click)="saveTask()" -->
