.table-responsive {
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: flex-start;
  align-items: stretch;
}

thead {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

tbody tr:last-child {
  border-top: 2px solid black;
}
