<!-- <ng-container *ngFor="let data of json"> -->
<div *ngFor="let data of userData">
  <div class="persData"><span>{{data.lastName}} {{data.firstName}} {{data.fatherName}}</span></div>
  <div class="profData">
    <div class="department">DEPARTMENT NAME</div>
    <div class="code">CODE</div>
    <div class="prof">PROF NAME</div>
    <div class="razr">RAZR</div>
  </div>
  <div class="employee-grid">
    <div id="item-s">Common info</div>
    <div id="item-0">Birth Date</div>
    <div id="item-1">{{data.birthDate}}</div>
    <div id="item-2">Date of employment</div>
    <div id="item-3">{{data.employmentDate}}</div>
    <div id="item-4">Education</div>
    <div id="item-5">{{data.education}}</div>
    <div id="item-6">Date of </div>
    <div id="item-7">{{data.date0}}</div>
    <div id="item-8">Nationality</div>
    <div id="item-9">{{data.nationality}}</div>
    <div id="item-10">Date of </div>
    <div id="item-11">{{data.date1}}</div>
    <div id="item-12">Trade union</div>
    <div id="item-13">{{data.tradeUnionName}}</div>
    <div id="item-14">Sex</div>
    <div id="item-15">{{data.sex}}</div>
    <div id="item-16">Passport data</div>
    <div id="item-17">Number</div>
    <div id="item-18">{{data.passportNumber}}</div>
    <div id="item-19">Date start</div>
    <div id="item-20">{{data.passportDateStart}}</div>
    <div id="item-21">Who made</div>
    <div id="item-22">{{data.passportMade}}</div>
    <div id="item-23">Personal №</div>
    <div id="item-24">{{data.personalNumber}}</div>
    <div id="item-25">Adress data</div>
    <div id="item-26">Index</div>
    <div id="item-27">{{data.addressindex}}</div>
    <div id="item-28">Phone №</div>
    <div id="item-29">{{data.phoneNumber}}</div>
    <div id="item-30">Adress</div>
    <div id="item-31">{{data.homeAddress}}</div>
    <div id="item-32">Additional info</div>
    <div id="item-33">SMTH</div>
    <div id="item-34">{{data.smtn0}}</div>
    <div id="item-35">SMTH</div>
    <div id="item-36">{{data.smtn1}}</div>
    <div id="item-37">SMTH</div>
    <div id="item-38">{{data.smtn2}}</div>
    <div id="item-39">SMTH</div>
    <div id="item-40">{{data.smtn3}}</div>
    <div id="item-41">Dismissal info</div>
    <div id="item-42">Date</div>
    <div id="item-43">{{data.dismissalDate}}</div>
    <div id="item-44">Document date</div>
    <div id="item-45">{{data.dismissalDocDate}}</div>
    <div id="item-46">Document №</div>
    <div id="item-47">{{data.dismissalDocNumer}}</div>
    <div id="item-48">Reason</div>
    <div id="item-49">{{data.dismissalReason}}</div>
  </div>
</div>
<!-- </ng-container> -->
