.mat-form-field {
  display: flex;
  justify-content: center;
}

.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.column {
  float: left;
}

.left {
  width: 20%;
  text-align: center;
  padding: 0 0;
  font-size: 18px;
}

.right {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
